<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=80%, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bb15966764.js" crossorigin="anonymous"></script>
    <title>guilty gossips</title>
</head>
<body>
    <%- body %>
</body>

<script src="./gp.js"></script>
</html>



<!-- navbar will have:
home
sort by
search
new gossip
it will have a post section 
--each post will have
posted by
text box
tags
it will have a trendy section -->