<!-- <header>
    <span id="homespan"><a href="/">home</a></span>
    <nav>
        <ul id="nav_ul">
            <li class="nav_li"><a href="/newpost">new post</a></li>
            <li class="nav_li"><a href="/newuser">add user</a></li>
            <li class="nav_li">sort by
                
            </li>
            <li class="nav_li"><form action="#" method="get"><input type="text" name="searchbox" placeholder="search gossip" id=""><button>search</button></form></li>
        </ul>
    </nav>
</header> -->
<header>
        <span id="homespan"><a href="/">home</a></span>
        <nav>
            <ul id="nav_ul">
                <li class="nav_li"><a href="/newpost">new post</a></li>
                <li class="nav_li"><a href="/newuser">add user</a></li>
                <li class="nav_li" ><a href="#">random</a>
                   
                </li>
                <li class="nav_li"><form action="#" method="get"><input type="text" name="searchbox" placeholder="search gossip" id=""><button>search</button></form></li>
            </ul>
        </nav>
</header>