
<header>
        <span id="homespan"><a href="/">home</a></span>
        <nav>
            <ul id="nav_ul">
                <li class="nav_li"><a href="/post/newpost">new post</a></li>
                
                <li class="nav_li" ><a href="#">random</a></li>
                
                
                
                <!-- <li class="nav_li">
                    <form action="#" method="get">
                        <input type="text" name="searchbox" placeholder="search gossip" id=""><button>search</button>
                    </form>
                </li> -->
                <%  if(username &&username!='none'){ %>
                    <li class="nav_li" id="userbutton">
                        <i crossorigin="anonymous" class="fa-solid fa-user" id="usericon"></i>
                        <a href="/user/view/<%= currentuser._id%>"><%= username %></a>
                    </li>
                    <li><a href="/user/logout">log out</a></li>

                <% }else{ %> 
                    <li class="nav_li"><a href="/user/login">log in</a></li>
                    <li class="nav_li"><a href="/user/sign-up">Sign up</a></li>

                <% } %>
                
                
                
            </ul>
        </nav>
</header>
